<div class="container" [ngStyle]="{'background-color':'#E6E6FA', 'padding': '10px'}">
  <div class="image-parent text-center">
    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/1/15/Recipe_logo.jpeg'" class="img-fluid" alt="quixote"
         style="max-height: 50px">
    <h2>Recipe Form</h2>
  </div>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Recipe Name: </label>
      <input type="text" class="form-control" placeholder="Enter Name" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="imagePath">Image Path:</label>
      <input type="text" class="form-control" placeholder="Enter Image Url" id="imagePath"
             formControlName="imagePath" #imagePath>
    </div>
    <div class="form-group">
      <label for="image">Image Preview:</label><br>
      <img src="{{ imagePath.value }}"  class="img-fluid" style="max-height: 80px" id="image">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea type="text" class="form-control" placeholder="Enter Description for the Recipe"
                id="description" rows="6" formControlName="description"></textarea>
    </div>

    <div formArrayName="ingrediants">
    <div class="row" style="margin-top: 4%"
    *ngFor="let ingrediant of recipeForm.get('ingrediants')['controls']; index as i"
    [formGroupName]="i">
      <div class="col-md-6">
        <input type="text"  class="form-control" name="name" formControlName="name">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" name="amount" pattern="^[1-9]+[0-9]*$" formControlName="amount">
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-danger" (click)="deleteIngrediants(i)">X</button>
      </div>
    </div>
      <hr>
      <div>
      <button type="button" class="btn btn-success" (click)="onAddingrediant()">Add Ingredient</button>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="recipeForm.invalid">{{editMode ? 'Update' : 'Add' }}</button> &nbsp;
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
