<div class="container" style="margin-top: 10%">
  <div style="background-color: green; padding: 2%">
  <h6 class="text-muted bg-light" style="font-size: 20px">Recipe Details</h6>
  </div>
  <div class="col-md-10 float-left" style="margin-top: 5%">

<div class="row">
  <div class="col-md-8">
    <img [src]=recipe.imagePath class="img-fluid" style="max-height: 300px; width: 300px">
  </div>
</div>

<div class="row" style="margin-top: 5%">
  <label class="text-primary" style="font-size: 20px"><b>Name: </b></label>
  <div class="col-md-8">
    {{recipe.name}}
  </div>
</div>


    <div class="row">
      <label><b>Description: </b></label>
    <div class="col-md-6">
      {{recipe.description}}
    </div>
  </div>


      <div class="row">
      <label><b>Ingredients List: </b></label>
      </div>
      <div class="list-group-item-light">
        <ul class="list-group-item">
          <li *ngFor="let ingrediant of recipe.ingrediants" [ngStyle]="{'color': 'white',
          'background-color':'green', 'padding': '2%'}">
            {{ ingrediant.name }} - {{ ingrediant.amount }}
          </li>
        </ul>

      </div>

    <div class="row">
      <label><b>Select Product: </b></label>
      <div class="col-md-4">
        <div class="dropdown" appDropdown>
          <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select operation
          </button>
          <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="onAddToShoppingList()" style="cursor: pointer;">To ShoppingList</a>
            <a class="dropdown-item" style="cursor: pointer;">Edit Recipe</a>
            <a class="dropdown-item" style="cursor: pointer;">Delete Recipe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

