<div class="container">
<div class="row">
  <div class="col-lg-7">
  <div>
    <button class="btn btn-success" (click)="addNewRecipe()">New Recipe</button>
  </div>
  <h6 class="text-justify" style="margin-top: 3%;font-size: 20px"><b>Recipe Items</b></h6>
    <ul class="list-group">
      <app-recipe-item *ngFor="let recipe of recipes; index as i"
                       [recipe]="recipe"
                       [index]="i"> </app-recipe-item>
    </ul>
  </div>
    <div class="col-lg-4">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
