/* You can add global styles to this file, and also import other style files */
.container-gap {
  margin: 20px;
}
.home-img {
  width: 110%;
  height: 50%;
}

/*Form Validation*/
input.ng-invalid.ng-touched ,
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}
