<div class="row">
  <div class="col-md-10">
    <div class="col-md-3" style="background-color: aqua; padding: .5%">
      <h6 class="bg-dark" style="font-size: 25px; color: white">Add Ingredient</h6>
    </div>
    <form (ngSubmit)="onAddItem(Form)" #Form='ngForm'>
      <div class="row" style="margin-top: 4%">
        <div class="col-md-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount"
                 ngModel required pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success" type="submit" [disabled]="!Form.valid">
            {{ editMode ? 'Update' : 'Add'}}
          </button>&nbsp;
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>&nbsp;
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
